body {
  padding: 20px;
  margin: 0;
  border-spacing: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 19px;
  font-style: italic;
  
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border-right: 2px solid #2b2838;
}

.card{
  width: 600px;
  margin: auto ;
  text-align: center;
  background: #ffe4fa;
  color: #2b2838;
  border-bottom: 6px solid #ffc4eb;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
